.wordcard__btn {
    margin-right: 5px;
    padding: 5px;
    border-radius: 10px;
    font-size: 0.60rem;
    background-color: #FFC53D;
}

.inactive {
    background-color: rgb(184, 184, 177);
    pointer-events: none;
}