.volume-btn {
    height: 100%;
    border-radius: 50%;
    border: 2px solid white;

    &:hover {
        transform: scale(1.1);
        transition: 0.3s;
    }

    &-img {
        height: 100%;
        padding: 0.5rem;
        fill: #fff;

    }
}