.wrapper {
    position: relative;
}

.main {
    z-index: 10;
    position: relative;
    min-height: 100vh;
}

.sprint {
    width: 100%;
    transition: background-position 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;


    &__inner {
        height: 100vh;
        max-width: 800px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
}
