.filter-btn {
    padding-left: 1rem;
    padding-right: 1.2rem;
    padding: 20px;
    height: 70px;
    width: 230px;
    border-radius: 0.5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    background-color: #f3f4f8;
    color: #2c2647;
    font-size: 1rem;
    font-family: 'Gilroy-Bold';
    overflow: hidden;
    border: none;
    cursor: pointer;

    &__abbreviation {
        color: #f3f4f8;
        z-index: 10;
    }

    &__title {
        color: #000000;
    }

    &__circle {
        border-radius: 53px;
        height: 110px;
        width: 110px;
        position: absolute;
        top: -1rem;
        left: -40px;
        overflow: hidden;
        background-color: #2c2647;
    }

    &__active {
        background-color: #FFC53D;
    }
}





