.header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 15;

    &__wrapper {
        max-width: 1200px;
        width: 90%;
        margin: 0 auto;

    }

    &__inner {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 0;
        font-size: 1rem;
    }

    &__nav {
        width: 130px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
    
}

