.nav {
    display: flex;
    align-items: center;
    &__links-list {
        display: flex;
    }

    &__list-item {
        margin: 0 15px;
    }

}

@media (max-width: 768px) { 
    .nav {
        &__list-item {
            margin: 0 5px;
        }
    
    }
}
