.signin-form {
    max-width: 500px;

    &__title {
        margin-bottom: 20px;
        font-size: 32px;
        color: #2c2647;
        font-family: "Gilroy-Heavy";
    }
    
    &__subtitle {
        margin-bottom: 30px;
        font-size: 19px;
        color: #ffffff;
        font-family: "Gilroy-Regular";
    }
}

