.glossary {
    &__page-words-list {
        display: flex;
        flex-wrap: wrap;
        gap: 65px 10px;
        justify-content: space-between;
        padding-right: 20px;
        overflow-y: auto;
        overflow-x: hidden;
        max-height: 660px;
    }
}

@media (max-width: 768px) {
    .glossary {
        &__page-words-list {
            gap: 25px 5px;
        }
    }
}