.game__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.game__title {
    font-size: 3.5rem;
    margin-bottom: 40px;
    font-family: "Gilroy-Heavy";
}

.game__description {
    text-align: center;
    font-size: 1.2rem;
    font-family: 'Gilroy-Regular';
    letter-spacing: 0.05rem;   
}