.book {
    &__page-words-list {
        padding-right: 20px;
        max-height: 660px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 65px 10px;
        overflow-y: auto;
        overflow-x: hidden;
    }
}
@media (max-width: 768px) {
    .book {
        &__page-words-list {
            gap: 25px 5px;
        }
    }
}