.gamecard {
    background-color: #f3f4f8;
    border-radius: 0.5rem;
    width: 250px;
    height: 325px;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    padding: 1rem;
    position: relative;
    align-items: center;
    overflow: hidden;
    cursor: pointer;


    &__text {
        display: flex;
        flex-direction: column;
        padding-top: 1rem;
    }

    &__img {
        width: 400px;
    }

    &__meaning {
        display: inline-block;
        background-color: #FFC53D;
        width: fit-content;
        font-family: 'Gilroy-Regular';
        font-size: 12px;
        padding: 0.2rem;
        border-radius: 5px;
        color: #2c2647;
    }

    &__title {
        font-size: 1.7rem;
        font-family: 'Gilroy-Bold';
        color: #2c2647;

    }

    
    &__descrpt {
        font-size: 0.9rem;
        font-family: 'Gilroy-Regular';
        color: #2c2647;
    }

    &:hover {
        transform: scale(1.05);
        transition: 0.4s;
    }
}


