.gamecard {
    background-color: #f3f4f8;
    border-radius: 0.5rem;
    width: 250px;
    height: 325px;
    display: flex;
    justify-content: space-between;
    flex-direction: column-reverse;
    padding: 10px;
    position: relative;
    align-items: center;
    overflow: hidden;
    cursor: pointer;


    &__text {
        display: flex;
        flex-direction: column;
        padding-top: 20px;
    }

    &__img {
        width: 400px;
    }

    &__meaning {
        background-color: #FFC53D;
        width: fit-content;
        font-family: 'Gilroy-Regular';
        font-size: 12px;
        padding: 0.2rem;
        border-radius: 5px;
        color: #2c2647;
    }

    &__title {
        font-size: 1.7rem;
        font-family: 'Gilroy-Bold';
        color: #2c2647;
    }

    
    &__descrpt {
        font-size: 0.9rem;
        font-family: 'Gilroy-Regular';
        color: #2c2647;
    }

    &:hover {
        transform: scale(1.05);
        transition: 0.4s;
    }
}


@media (max-width: 768px) { 
    .gamecard {
        &__title {
            font-size: 18px;
            font-family: 'Gilroy-Bold';
            color: #2c2647;
            
        }

        &__meaning {
            background-color: #FFC53D;
            font-family: 'Gilroy-Regular';
            font-size: 11px;
            padding: 0.2rem;
            border-radius: 5px;
            color: #2c2647;
            white-space: nowrap;
        }

        &__img {
            width: 350px;
        }
    }

}