.game-display__card-asnwer {
    display: flex;
    flex-direction: column;
    align-items: center;

    &-img {
        height: 100%;
        width: 100%;
        border-bottom-right-radius: 120px;
        border-top-left-radius: 120px;

    }

    &-img-container {
        height: 200px;
        width: 300px;
        margin-bottom: 20px;
    }

    &-value-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
        &-title {
            font-family: 'Gilroy-Heavy';
            color: rgb(255, 255, 255);
            font-size: 30px;
            margin-right: 10px;
        }
    }

    &-sound-btn-container {
        height: 40px;
    }
}