.wordcard {
    display: flex;
    height: 650px;
    justify-content: center;
}

.wordcard__container {
    width: 280px;
    background-color: #f3f4f8;
}

.wordcard__info {
    padding: 10px;
}

.wordcard__img {
    max-width: 100%;
    border-bottom-right-radius: 40%;
}

.wordcard__container h2 {
    margin-top: 5px;
    color: #2c2647;
    font-family: 'Gilroy-Regular';
}

.wordcard__container h3 {
    margin-top: 5px;
    color: #2c2647;
    font-family: 'Gilroy-Regular';
}

.wordcard__container p {
    margin-bottom: 5px;
    color: #2c2647;
    font-family: 'Gilroy-Regular';
    font-size: 1rem;
}

.wordcard__transcription-container {
    display: flex;
    align-items: center;
}

.worcard__volume {
    margin-left: 10px;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.wordcard__btns-container {
    margin-top: 10px;
    display: flex;
}

.wordcard__btn {
    margin-right: 5px;
    padding: 5px;
    border-radius: 10px;
    font-size: 0.60rem;
    background-color: #FFC53D;
}

.inactive {
    background-color: rgb(184, 184, 177);
    pointer-events: none;
}