.reg-form {
    max-width: 500px;
}

.reg__title {
    margin-bottom: 20px;
    color: #2c2647;
    font-size: 32px;
    font-family: 'Gilroy-Heavy';
}

.reg__subtitle {
    margin-bottom: 20px;
    font-size: 20px;
    font-family: "Gilroy-Regular";
    color: rgb(255, 255, 255)
}

