.game-display {
    width: 700px;
    
    &__inner {
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    &__play-word-btn {
        height: 90px;
    }

    &__answer-options {
        margin: 50px 0;
        width: 100%;
        display: flex;
        justify-content: space-between;
    }

    &__get-answer-btn {
        padding: 7px;
        width: 120px;
        color: rgba(0, 0, 0, 0.87);
        box-shadow: 0px 3px 1px -2px rgba(0,0,0,0.2), 0px 2px 2px 0px rgba(0,0,0,0.14), 0px 1px 5px 0px rgba(0,0,0,0.12);
        background-color: #e0e0e0;
        font-family: 'Gilroy-Heavy';
        border-radius: 20px;

        &:hover {
            background-color: #e0e0e080;
            transition: 0.3s;
        }
    }
}

@media (max-width: 768px) {
    .game-display {
        width: 450px;

        &__play-word-btn {
            height: 70px;
        }

        &__get-answer-btn {
            padding: 7px;
            width: 100px;
            font-size: 12px;
        }
    }

}

@media (max-width: 576px) {
    .game-display {
        width: 320px;

        &__play-word-btn {
            height: 50px;
        }

    }
}