.savannah {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    user-select: none;
    position: relative;
    transition: background-position 1s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.savannah__wrapper {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 30px;
}

.savannah__start-screen{
    width: 90%;
    height: 100vh;
    padding: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    max-width: 600px;
    text-align: center;
    color: rgb(255, 255, 255);
}

.savannah__info {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.savannah__title {
    font-size: 3.5rem;
    margin-bottom: 40px;
    font-family: "Gilroy-Heavy";
}

.savannah__description {
    font-size: 1.2rem;
    font-family: 'Gilroy-Regular';
    letter-spacing: 0.05rem;   
}

.btns-container {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: rgb(255, 255, 255);
}

.btns-container h2{
    font-size: 0.8rem;
    font-family: 'Gilroy-Bold';
    text-transform: uppercase;
    margin-bottom: 20px;
    letter-spacing: 0.1rem;
}

.level-btns {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.level-btns__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    border-radius: 30px;
    font-family: 'Gilroy-Medium';
    font-size: 1rem;
    opacity: 0.7;
    border: #fff solid 2px;
    flex-shrink: 0;
    margin: 0.2rem;
    cursor: pointer;
}

.start-game-btn {
    border: none;
    color: #161616;
    background-color: #cccccc;
    font-size: 1rem;
    font-family: "Gilroy-Bold";
    padding: 10px 30px;
    border-radius: 20px;
    margin: 40px 0;
    box-shadow: inset 0px -1px 1px rgba(255, 255, 255, 0.28), inset 0px 1px 2px rgba(0, 0, 0, 0.25);
}